*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.codePage{
  width: 100%;
  height: 100vh;
  background-color: rgb(26, 26, 26);
  display: flex;
}

.leftPane{
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.questionSection{
  flex: 3;
  width: 100%;
  background-color: rgb(36, 36, 36);
  display: flex;
  flex-direction: column;
}

.questionHeader{
  width: 100%;
  background-color: rgb(41, 41, 41);
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.questionTextArea{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 16px;
  color: white;
  font-size: 18px;
}

.questionInput, .questionOutput{
  width: 100%;
  background-color: #44475A;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.questionInputHeader, .questionOutputHeader{
  background-color: #282A36;
  padding: 8px;
}

.questionSampleInput, .questionSampleOutput{
  padding: 8px;
}

.runSection{
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}

.runCodeTestContainer{
  width: 100%;
  flex: 2;
  display: flex;
  align-items: center;
}

.runCodeContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}

.runCodeBtn{
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 18px;
  border-radius: 2px;
  background-color: rgb(200, 212, 39);
  color: black;
  font-weight: 500;
  width: 70px;
}

.inputContainer, .outputContainer{
  background-color: rgb(59, 59, 59);
  flex: 2;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding: 5px;
  height: 100%;
}
.inputContainer{
  margin-right: 5px;
}
.outputContainer{
  margin-left: 5px;
}

.ta{
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  resize: none;
}


.submitCodeContainer{
  width: 100%;
  display: flex;
  padding: 16px;
}

.submitOutput{
  flex: 2;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submitCodeBtn{
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 18px;
  border-radius: 2px;
  background-color: rgb(39, 212, 53);
  color: black;
  font-weight: 500;
  width: 130px;
}

.submitCodeBtn:active{
  transform: scale(0.97);
}

.rightPane{
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.editorHeader{
  width: 100%;
  background-color: rgb(41, 41, 41);
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.editorLang{
  color: chartreuse;
  cursor: pointer;
}